<p [ngClass]="{'hidden': !loading}"><img src="../../../assets/images/Spinner-1s-50px.gif" /> Loading...</p>
<p [ngClass]="{'hidden': loading || contacts.length > 0}">No record found</p>
<ul class="contact-list list-group" [ngClass]="{'hidden': loading || contacts.length == 0}">
    <li [routerLink]="['/contact', contact.id]" (click)="selectItem(contact)"
        [ngClass]="{'active': selectedItem && selectedItem.id == contact.id}" class="contact-row list-group-item"
        *ngFor="let contact of contacts">
        <div class="contact-title row">
            <div class="col-sm-10"><b>{{contact.firstName}} {{contact.surname}}</b></div>
            <div class="col-sm-2">
                <drop-down-modal [buttonClass]="'btn btn-success'" [buttonLabel]="'Tags'"
                                 [modalId]="'tag-modal-' + contact.id" [modalClass]="'tag-modal'"
                                 (onOpen)="onModalOpen(contact)"
                                 (onClosed)="onModalClosed(contact)">
                    <contact-tag-list [contact]="contact" [allTags]="allTags"
                                      (onTagRemoved)="onTagRemoved($event)"
                                      (onTagEdited)="onTagEdited($event)"
                                      ></contact-tag-list>
                </drop-down-modal>
            </div>
        </div>
        <p class="contact-desc">
            {{contact.title}} at {{contact.companyName}}
        </p>
        <div class="contact-tags">
            <span *ngFor="let tag of contact.tags" class="btn btn-light tag-item">
                {{tag.name}}
            </span>
        </div>
    </li>
</ul>