li.contact-row {
    cursor: pointer;
}

    li.contact-row:hover:not(.active) {
        background-color: rgb(245, 245, 245);
    }

.tag-item {
    margin-right: 5px;
}

.hidden {
    display: none;
}